# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
# Environments
.env
.env.development
.env.staging
.env.staging.development
.env.live
.env.production

# VS Code
#
.vscode/

# Expo
#
.expo/
